nav {text-align: center}
div {display: inline-block; margin: 0 20px}
div a {color: #000; text-decoration: none; border-bottom: 1px solid #000}
.selected {color: #2fb68d!important; border-bottom: none !important;}