<div>
    <div>
      <label for="language">Language</label>
      <select name="language" id="">
          <option value="en">English</option>
          <option value="de">Deutsch</option>
      </select>
    </div>
    <div>
        <label for="countWords">Nb. of words</label>
        <select name="countWords" id="">
                <option value="10">10</option>
                <option value="20">20</option>
        </select>
    </div>
    <button (click)="onClick()">Back</button>
    <button (click)="onClick()">Save</button>
</div>
